{# Réalisateurs #}
{% block _film_persons_widget %}
	<p class="label_big">Ici, vous pouvez ajouter les réalisateurs !</p>
	{{ form_widget(form) }}
	<input type="hidden" id='widget-count' value="0">

	<div class="form-group">
		<button type="button" class="btn btn-primary" id="add-person">+</button>
	</div>
{% endblock %}

{% block _film_persons_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _film_persons_entry_widget %}
	<div class="form-group" id="block_{{ id }}">
		<div class="row-flex">
			<div class="col-10">
				<div class="row-flex">
					<div class="col">
						{{ form_widget(form.firstname) }}
					</div>
					<div class="col">
						{{ form_widget(form.middlename) }}
					</div>
					<div class="col">
						{{ form_widget(form.lastname) }}
					</div>
					<div class="col-2">
						<button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{# Producteurs #}
{% block _film_autors_widget %}
	<p class="label_big">Ici, vous pouvez ajouter les producteurs !</p>
	{{ form_widget(form) }}
	<input type="hidden" id='widget-count' value="0">

	<div class="form-group">
		<button type="button" class="btn btn-primary" id="add-autor">+</button>
	</div>
{% endblock %}

{% block _film_autors_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _film_autors_entry_widget %}
	<div class="form-group" id="block_{{ id }}">
		<div class="row-flex">
			<div class="col-10">
				<div class="row-flex">
					<div class="col">
						{{ form_widget(form.firstname) }}
					</div>
					<div class="col">
						{{ form_widget(form.middlename) }}
					</div>
					<div class="col">
						{{ form_widget(form.lastname) }}
					</div>
					<div class="col-2">
						<button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{# Acteurs #}
{% block _film_actors_widget %}
	<p class="label_big">Ici, vous pouvez ajouter les acteurs !</p>
	{{ form_widget(form) }}
	<input type="hidden" id='widget-count' value="0">

	<div class="form-group">
		<button type="button" class="btn btn-primary" id="add-actor">+</button>
	</div>
{% endblock %}

{% block _film_actors_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _film_actors_entry_widget %}
	<div class="form-group" id="block_{{ id }}">
		<div class="row-flex">
			<div class="col-10">
				<div class="row-flex">
					<div class="col">
						{{ form_widget(form.firstname) }}
					</div>
					<div class="col">
						{{ form_widget(form.middlename) }}
					</div>
					<div class="col">
						{{ form_widget(form.lastname) }}
					</div>
					<div class="col-2">
						<button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{# Years #}
{% block _film_years_widget %}
	<p class="label_big">Ici, vous pouvez ajouter une année !</p>
	{{ form_widget(form) }}
    <input type="hidden" id='widget-count' value="0">

	<div class="form-group">
		<button type="button" class="btn btn-primary" id="add-year">+</button>
	</div>
{% endblock %}

{% block _film_years_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _film_years_entry_widget %}
	<div class="form-group" id="block_{{ id }}">
		<div class="row-flex">
			<div class="col">
				{{ form_widget(form.date.year) }}
				{{ form_widget(form.date.month, {'attr': {  'style': 'display:none'}}) }}
				{{ form_widget(form.date.day, {'attr': {  'style': 'display:none'}}) }}
			</div>
			<div class="col-2">
				<button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
			</div>
		</div>
	</div>
{% endblock %}

{# Country #}
{% block _film_country_widget %}
	<p class="label_big">Ici, vous pouvez ajouter un pays !</p>
	{{ form_widget(form) }}
	<input type="hidden" id='widget-count' value="0">

	<div class="form-group">
		<button type="button" class="btn btn-primary" id="add-country">+</button>
	</div>
{% endblock %}

{% block _film_country_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _film_country_entry_widget %}
	<div class="form-group" id="block_{{ id }}">
		<div class="row-flex">
			<div class="col-10">
				<div class="row-flex">
					<div class="col">
						{{ form_widget(form.countryname) }}
					</div>
					<div class="col-2">
						<button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}