{% extends "base.html.twig" %}
{% block title %}
	Livres
{% endblock %}
{% block message %}{% endblock %}
{% block body %}
	{% include "shared/searchbooks.html.twig" %}
	{% block searchBooks %}{% endblock %}
	<div class="container">
		<div class="row">
			<div class="category_section livres">
				<div class="article_title header_orange">
					<h2>
						<a href="{{ path('livres') }}" target="_self">LIVRES</a>
					</h2>
				</div>
				<!-- article_title -->

				<div class="category_article_wrapper">
					<div class="row-flex">
						{% for book in pagination.data %}
							{% set url = path('books_show', {'slug': book.slug}) %}
							<div class="col-md-5">
								<div class="top_article_img">
									<a href="{{ url }}" target="_self">
										<img class="img-responsive middle book-show" src="{{ book.coverImage }}" alt="feature-top">
									</a>
								</div>
								<!-- top_article_img -->

							</div>
							<div class="col-md-7">
								<span class="tag orange">
									<a href="{{ path('livres') }}" target="_self">LIVRES</a>
								</span>

								<div class="category_article_title">
									<h2>
										<a href="{{ url }}" target="_self">{{ book.title }}</a>
									</h2>
								</div>
								{% if book.comments|length > 0 %}
									<div class="star-right">
										<span class="rating">
											{% include "shared/rate.html.twig" with {'rate': book.getRating} %}
										</span>
									</div>
								{% else %}
									<small class="star-right">Pas encore noté</small>
								{% endif %}

								<div class="category_article_date">
									par:
									<a href="{{ path('user_profile', {'slug': book.author.slug}) }}">{{ book.author.Name }}</a>
								</div>
								<!-- category_article_title -->

								<div class="category_article_content">
									{{ book.description }}
								</div>
								<!-- category_article_content -->

								<div class="media_social">
									<span>
										<i class="fa fa-comments-o"></i>
										<a href="#">{{ book.comments | length }}</a>
										Commentaires</span>
								</div>
								<!-- media_social -->

							</div>
							<!-- col-md-7 -->
						{% endfor %}
					</div>
					<!-- row -->

				</div>
				<!-- category_article_wrapper -->

			</div>
			<div class="text-center">
				{{ pagination.display() }}
			</div>
		</div>
		<!-- row -->

	</div>
	<!-- container -->
{% endblock %}
