{% extends 'base.html.twig' %}
{% block title %}
	{{ book.title }}
{% endblock %}
{% block body %}

	<section id="entity_section" class="entity_section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="entity_wrapper">
						<div class="entity_title">
							{% if book.comments|length > 0 %}
									<div class="star-right">
										<span class="rating">
											{% include "shared/rate.html.twig" with {'rate': book.getRating} %}
										</span>
									</div>
							{% else %}
								<div class="star-right">
									<span class="rating">
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</span>
								</div>
							{% endif %}
							<!-- entity_rating -->
							<h1>
								<a href="#">{{ book.title }}</a>
							</h1>
						</div>
						<!-- entity_title -->

						<div class="entity_thumb">
							<a href="#"><img class="img-responsive middle book-show" src="{{ book.coverImage }}" alt="feature-top"></a>
						</div>
						<!-- entity_thumb -->

						<div class="entity_content">
							<p class="text_title">
								{{ book.description }}
							</p>

							<div class="item_desc">Editeur(s) :</div>
							<p class="real">
								{% for editor in book.editors %}
									{{ editor.editorname }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>

							<div class="item_desc">Auteur(s) :</div>
							<p class="prod">
								{% for writer in book.writers %}
									{{ writer.firstname }}
									{{ writer.lastname }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							<div class="item_desc">Année :</div>
							<p class="year">
								{% for year in book.years %}
									{{ year.date|date("Y")}}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>
							<div class="item_desc">Pages :</div>
							<p class="countr">
								{{ book.pages }}
							</p>

						</div>
						<!-- entity_content -->

						<div class="entity_footer">
							{% set ba = book.author %}
							<button type="button" class="btn btn-secondary">
								<a href="{{ path('films') }}">
									<i class="fa fa-angle-double-left"></i>
								</a>
							</button>

							<p>Ajouté par :
								<a href="{{ path('user_profile', {'slug': ba.slug}) }}">
									<img src="{{ ba.avatar }}" class="picture picture-show" alt="Avatar de
									{{ ba.Name}}">
								</a>
								<a href="{{ path('user_profile', {'slug': ba.slug}) }}">{{ ba.Name}}</a>
							</p>

							{% if app.user and app.user == book.author %}
								<a href="{{ path('books_edit', {'slug': book.slug}) }}" class="btn btn-success">Modifier</a>
								<a href="{{ path('books_delete', {'slug': book.slug}) }}" class="btn btn-danger">Supprimer</a>
							{% endif %}

							<div class="entity_social">
								<span>
									<i class="fa fa-comments-o"></i>
									{{ book.comments | length }}
									<a href="{{ path('books_show', {'slug': book.slug}) }}#comments">Commentaires</a>
								</span>
							</div>
							<!-- entity_social -->

						</div>
						<!-- entity_footer -->

					</div>
					<!-- entity_wrapper -->


					<div class="readers_comment">
						<div class="entity_inner__title header_purple">
							<h2>Commentaires</h2>
						</div>
						<!-- entity_title -->

						{% if book.comments | length > 0 %}
							{% for comment in book.comments %}
								<div class="media">
									<div class="media-left">
										<a href="{{ path('user_profile', {'slug': comment.author.slug}) }}">
											<img class="media-object com-avatar" src="{{ comment.author.avatar }}" alt="Avatar de
											{{ ba.Name}}" data-holder-rendered="true">
										</a>
									</div>
									<div class="media-body">
										<h2 class="media-heading">
											<a href="{{ path('user_profile', {'slug': comment.author.slug}) }}">{{ comment.author.Name }}</a>
											<small>Le : {{ comment.createdAt | date('d/m/Y') }}</small>
										</h2>
										{{ comment.content }}
										<br>
										<strong>Note donnée par
											{{ comment.author.Name }}
											:
											{% include "shared/rate.html.twig" with {'rate': comment.rate} %}
											</strong>
										
									</div>
								</div>
								<!-- media end -->
							{% endfor %}

						{% else %}
							<p>Pas de commentaires</p> 

						{% endif %}


						<div class="entity_comments">
							<h2>Poster un commentaire</h2>
							<!--Entity Title -->
							{% if  app.user %}
							{{ form_start(form) }}
							{{ form_widget(form) }}
							<button class="submit btn btn-success">Envoyer</button>
							{{ form_end(form) }}

							<!--<div class="entity_comment_from">
								<form>
									<div class="form-group comment">
										<textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>
									</div>

									<button type="submit" class="btn btn-submit red">Envoyer</button>
								</form>
							</div>
							<!--Entity Comments From -->
							<!--LOGIN AND REGISTRY -->
							{% else %}
							<a class="connec" href="{{ path('acc_register') }}">
								<p>Pas encore enregistré ?</p>
							</a>
							<a class="connec" href="{{ path('acc_login') }}">
								<p>Se connecter</p>
							</a>
							{% endif %}
						</div>
						<!--Entity Comments -->

					</div>
					<!--Left Section-->


				</div>
				<!-- row -->

			</div>
			<!-- container -->

		</section>
		<!-- Entity Section Wrapper -->
	{% endblock %}
