{% extends 'base.html.twig' %}
{% block title %}
	{{ serie.title }}
{% endblock %}
{% block body %}

	<section id="entity_section" class="entity_section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="entity_wrapper">
						<div class="entity_title">
							{% if serie.comments|length > 0 %}
									<div class="star-right">
										<span class="rating">
											{% include "shared/rate.html.twig" with {'rate': serie.getRating} %}
										</span>
									</div>
							{% else %}
								<div class="star-right">
									<span class="rating">
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</span>
								</div>
							{% endif %}
							<!-- entity_rating -->
							<h1>
								<a href="#">{{ serie.title }}</a>
							</h1>
						</div>
						<!-- entity_title -->

						<div class="entity_thumb">
							<a href="#"><img class="img-responsive middle film-show" src="{{ serie.coverImage }}" alt="feature-top"></a>
						</div>
						<!-- entity_thumb -->

						<div class="entity_content">
							<p class="text_title">
								{{ serie.description }}
							</p>

							<div class="item_desc">Réalisateur(s) :</div>
							<p class="real">
								{% for person in serie.persons %}
									{{ person.firstname }}
									{{ person.lastname }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</p>

							<div class="item_desc">Producteur(s) :</div>
							<p class="prod">
                                {% for autor in serie.autors %}
								{{ autor.firstname }}  {{ autor.lastname }}
								{% if not loop.last %},{% endif %}
								{% endfor %}
                            </p>
							<div class="item_desc">Acteurs :</div>
							<p class="actor">
                                {% for actor in serie.actors %}
								{{ actor.firstname}} {{actor.lastname}}
								{% if not loop.last %},{% endif %}
								{% endfor %}
                            </p>
                            <div class="item_desc">Saisons :</div>
                            <p class="real">
                                {{ serie.seasons}} 
                            </p>
							<div class="item_desc">Année :</div>
							<p class="year">
                                {% for year in serie.years %}
								{{ year.date|date("Y")}} 
								{% if not loop.last %},{% endif %}
								{% endfor %}
                            </p>
							<div class="item_desc">Pays d'origine :</div>
							<p class="countr">
                                {% for country in serie.country %}
								{{ country.countryname }}
								{% if not loop.last %},{% endif %}
								{% endfor %}
                            </p>
						</div>
						<!-- entity_content -->

						<div class="entity_footer">
						{% set sa = serie.author %}
							<button type="button" class="btn btn-secondary">
								<a href="{{ path('films') }}">
									<i class="fa fa-angle-double-left"></i>
								</a>
							</button>

							<p>Ajouté par : <a href="{{ path('user_profile', {'slug': sa.slug}) }}">
								<img src="{{ sa.avatar }}" class="picture picture-show" alt="Avatar de 
								{{ sa.Name}}">
							</a> <a href="{{ path('user_profile', {'slug': sa.slug}) }}">{{ sa.Name}}</a> </p>

							{% if app.user and app.user == serie.author %}
							<a href="{{ path('series_edit', {'slug': serie.slug}) }}" class="btn btn-success">Modifier</a>
							<a href="{{ path('series_delete', {'slug': serie.slug}) }}" class="btn btn-danger">Supprimer</a>
							{% endif %} 

							<div class="entity_social">
								<span>
									<i class="fa fa-comments-o"></i>{{ serie.comments | length }}
									<a href="{{ path('series_show', {'slug': serie.slug}) }}#comments">Commentaires</a>
								</span>
							</div>
							<!-- entity_social -->

						</div>
						<!-- entity_footer -->

					</div>
					<!-- entity_wrapper -->


					<div class="readers_comment">
						<div class="entity_inner__title header_purple">
							<h2>Commentaires</h2>
						</div>
						<!-- entity_title -->

						{% if serie.comments | length > 0 %}
							{% for comment in serie.comments %}
								<div class="media">
									<div class="media-left">
										<a href="{{ path('user_profile', {'slug': comment.author.slug}) }}">
											<img class="media-object com-avatar"  src="{{ comment.author.avatar }}" alt="Avatar de
											{{ sa.Name}}" data-holder-rendered="true"
											>
										</a>
									</div>
									<div class="media-body">
										<h2 class="media-heading">
											<a href="{{ path('user_profile', {'slug': comment.author.slug}) }}">{{ comment.author.Name }}</a>
											<small>Le : {{ comment.createdAt | date('d/m/Y') }}</small>
										</h2>
										{{ comment.content }}
										<br>
										<strong>Note donnée par {{ comment.author.Name }} : 
										<span class="rating">
											   {% include "shared/rate.html.twig" with {'rate': comment.rate} %}
											</span>
										</strong>
										
									</div>
								</div>
								<!-- media end -->
							{% endfor %}

							{% else %}
							<p>Pas de commentaires</p> 

						{% endif %}


					<div class="entity_comments">
						<h2>Poster un commentaire</h2>
						<!--Entity Title -->
						{% if  app.user %}
						{{ form_start(form) }}
							{{ form_widget(form) }}
							<button class="submit btn btn-success">Envoyer</button>
							{{ form_end(form) }}

						<!--<div class="entity_comment_from">
							<form>
								<div class="form-group comment">
									<textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>
								</div>

								<button type="submit" class="btn btn-submit red">Envoyer</button>
							</form>
						</div>
						<!--Entity Comments From -->
						<!--LOGIN AND REGISTRY -->
						{% else %}
						<a class="connec" href="{{ path('acc_register') }}">
							<p>Pas encore enregistré ?</p>
						</a>
						<a class="connec" href="{{ path('acc_login') }}">
							<p>Se connecter</p>
						</a>
						{% endif %}
					</div>
					<!--Entity Comments -->

				</div>
				<!--Left Section-->


			</div>
			<!-- row -->

		</div>
		<!-- container -->

	</section>
	<!-- Entity Section Wrapper -->
{% endblock %}
