{% extends "base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}


{% block body %}
{% block message %}
    <p class="message">
        Vous connaissez une série, un film ou un livre qui n’est pas dans notre catalogue ? N’hésitez pas à en
        <a href="{{ path('films_add') }}" id="raj">RAJOUTER !!!
            <i class="fas fa-arrow-left"></i>
        </a>
    </p>
{% endblock %}

{% block searchFilms %}
{% endblock %}
    <section id="category_section" class="category_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="category_section news">
                        <div class="article_title header_purple">
                            <h2>
                                <a href="index.html" target="_self">Récemment ajoutés</a>
                            </h2>
                        </div>
                        <!----article_title------>
                        <div class="category_article_wrapper">
                        {% for film in films %}
                        {% set urlFilm = path('films_show', {'slug': film.slug}) %}
                            <div class="row border">
                                <div class="col-md-6">
                                    <div class="top_article_img">
                                        <a href="{{ urlFilm }}" target="_self"><img class="img-responsive home-films border-left" src="{{ film.coverImage}}" alt="feature-top">
                                        </a>
                                    </div>
                                    <!----top_article_img------>
                                </div>
                                <div
                                    class="col-md-6">
                                    <!--<a href="news.html"><span class="tag purple">News</span></a>-->

                                    <div class="category_article_title">
                                        <h2>
                                            <a href="{{ urlFilm }}"  target="_self">{{ film.title }}</a>
                                        </h2>
                                    </div>
                                    <span class="tag pink">
                                        <a href="{{ path('films') }}" target="_self">FILMS</a>
                                    </span>
                                    <!----category_article_title------>
                                    
                                        <a class="author-right" href="
                                        {{ path('user_profile', {'slug': film.author.slug}) }}"> Ajouté par : 
                                        {{ film.author.Name }}</a>
                                    
                                    <!----category_article_date------>
                                    <div class="category_article_content">
                                        <p>{{ film.description }}</p>
                                    </div>
                                    <div class="media_social">
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#">{{ film.comments | length }}</a>
                                            Commentaires</span>
                                    </div>

                                </div>
                                <p class="divider"></p>
                            </div>
                            
                                
                            {% endfor %}

                            {% for serie in series %}
                            {% set urlSerie = path('series_show', {'slug': serie.slug}) %}
                                    <div class="row serie-border">
                                <div class="col-md-6">
                                    <div class="top_article_img">
                                        <a href="{{ urlSerie }}" target="_self"><img class="img-responsive home-films serie-border-left" src="{{serie.coverImage}}" alt="feature-top">
                                        </a>
                                    </div>
                                    <!----top_article_img------>
                                </div>
                                <div
                                    class="col-md-6">
                                    <!--<a href="news.html"><span class="tag purple">News</span></a>-->

                                    <div class="category_article_title">
                                        <h2>
                                            <a href="{{ urlSerie }}"  target="_self">{{ serie.title }}</a>
                                        </h2>
                                    </div>
                                    <span class="tag blue">
                                        <a href="{{ path('series') }}" target="_self">SERIES</a>
                                    </span>

                                    <!----category_article_title------>
                                    
                                        <a class="author-right" href="
                                        {{ path('user_profile', {'slug': serie.author.slug}) }}">Ajouté par : 
                                        {{ serie.author.Name }}</a>
                                    
                                    <!----category_article_date------>
                                    <div class="category_article_content">
                                        {{ serie.description }}

                                    </div>
                                    <!----category_article_content------>
                                    <div class="media_social">
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#">{{ serie.comments | length }}</a>
                                            Commentaires</span>
                                    </div>


                                    <!----media_social------>
                                </div>
                                <p class="divider" id="divider"></p>
                            </div>
                                {% endfor %}

                            {% for book in books %}
                            {% set urlBook = path('books_show', {'slug': book.slug}) %}
                            <div class="row book-border">
                                <div class="col-md-6">
                                    <div class="top_article_img">
                                        <a href="{{ urlBook }}" target="_self"><img class="img-responsive middle book-show book-border-left" src="{{ book.coverImage }}" alt="feature-top">
                                        </a>
                                    </div>
                                    <!----top_article_img------>
                                </div>
                                <div
                                    class="col-md-6">
                                    <!--<a href="news.html"><span class="tag purple">News</span></a>-->

                                    <div class="category_article_title">
                                        <h2>
                                            <a href="{{ urlBook }}" target="_self">{{ book.title }}</a>
                                        </h2>
                                    </div>
                                    <span class="tag orange">
                                        <a href="{{ path('livres') }}" target="_self">LIVRES</a>
                                    </span>
                                    <!----category_article_title------>
                                    
                                        <a class="author-right" href="
                                        {{ path('user_profile', {'slug': book.author.slug}) }}">Ajouté par : 
                                        {{ book.author.Name }}</a>
                                    
                                    <!----category_article_date------>
                                    <div class="category_article_content">
                                        {{ book.description }}

                                    </div>
                                    <!----category_article_content------>
                                    <div class="media_social">
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#">{{ book.comments | length }}</a>
                                            Commentaires</span>
                                    </div>
                                </div>
                                <p class="divider"></p>
                            </div>
                            {% endfor %}


                        </div>


                    </div>

                </div>


            </div>
            <!-- Row -->

        </div>
        <!-- Container -->

    </section>
{% endblock %}
