{% extends "admin/base.html.twig" %}
{% block title %}Edition du livre {{ book.id }}{% endblock %}
{% form_theme form _self %}
{% block body %}
    <div class="main-body-content w-100 ets-pt">
    <h1 class="edit-title">Modification du livre : <strong>{{ book.title }}</strong></h1>
    <div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-body">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <div class="card-title">
                    <h3>Les commentaires</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Auteur</th>
                                <th>Note</th>
                                <th>Date</th>
                                <th>Commentaire</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in book.comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.author.Name }}</td>
                                <td>{{ comment.rate }}</td>
                                <td>{{ comment.createdAt | date('d/m/Y H:i') }}</td>
                                <td>{{ comment.content }}</td>
                                <td><a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-pen"></i>
                                </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}


{# Form Editeurs #}
{% block _book_editors_widget %}
    {{ form_label(form, 'Editeur(s) :') }}
    {{ form_widget(form) }}
{% endblock %}

{% block _book_editors_entry_row %}
    <div id="block_{{ id }}">{{ form_widget(form) }}</div>
{% endblock %}

{% block _book_editors_entry_widget %}
    <div class="row align-items-center">
        <div class="col-10">
            {{ form_row(form.editorname,  {'label': ' '}) }}
        </div>
        <div class="col">
			<button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">
				<i class="fas fa-trash"></i>
			</button>
		</div>
    </div>
{% endblock %}

{# Form Writers #}
{% block _book_writers_widget %}
    {{ form_label(form, 'Ecrivain(s) :') }}
    {{ form_widget(form) }}
{% endblock %}

{% block _book_writers_entry_row %}
    <div id="block_{{ id }}">{{ form_widget(form) }}</div>
{% endblock %}

{% block _book_writers_entry_widget %}
    <div class="row align-items-center">
        <div class="col-3">
            {{ form_row(form.firstname,  {'label': 'Prénom'}) }}
        </div>
         <div class="col-3">
            {{ form_row(form.middlename,  {'label': ' '}) }}
        </div>
         <div class="col-3">
            {{ form_row(form.lastname,  {'label': 'Nom'}) }}
        </div>
        <div class="col">
			<button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{ id }}">
				<i class="fas fa-trash"></i>
			</button>
		</div>
    </div>
{% endblock %}

{# Form Date #}
{% block _book_years_widget %}
    {{ form_label(form, 'Année :') }}
    {{ form_widget(form) }}
{% endblock %}

{% block _book_years_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _book_years_entry_widget %}
    <div class="row align-items-center">
        <div class="col-4">
            {{ form_row(form.date,  {'label': ' '}) }}
        </div>
    </div>
{% endblock %}