{% extends "admin/base.html.twig" %}
{% block title %}Livres
{% endblock %}

{% block body %}
	
				<div class="main-body-content w-100 ets-pt">
					<div class="table-responsive bg-light">
						<table class="table">
							<tr>
								<th>Id</th>
								<th>Titre</th>
								<th>Auteur</th>
								<th>Note</th>
								<th>Actions</th>
							</tr>
							{% for books in books %}
								<tr>
									<td>{{ books.id }}</td>
									<td>{{ books.title }}</td>
									<td><img src="{{ books.author.avatar }}" 
                                    alt="Avatar de {{ books.author.Name }}" class="picture picture-mini mr-2">
                                    {{ books.author.Name }}</td>
									<td>
										<div class="stars">
											<span class="rating">
												{% include "shared/rate.html.twig" with {'rate': books.getRating} %}
											</span>
										</div>
									</td>
									<td>
										<a href="{{ path('admin_livres_edit', {'id': books.id}) }}" class="btn btn-primary">
											<i class="fas fa-edit"></i>
										</a>
										<a href="{{ path('admin_livres_delete', {'id': books.id}) }}" class="btn btn-danger">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			

{% endblock %}
